* text=auto

# *.css linguist-vendored
# *.js linguist-vendored
# *.scss linguist-vendored
# *.less linguist-vendored

telegram_store/static/admin/**/*.css linguist-vendored
telegram_store/static/admin/**/*.js linguist-vendored
telegram_store/static/admin/**/*.scss linguist-vendored
telegram_store/static/admin/**/*.less linguist-vendored

telegram_store/static/modeltranslation/**/*.css linguist-vendored
telegram_store/static/modeltranslation/**/*.js linguist-vendored
telegram_store/static/modeltranslation/**/*.scss linguist-vendored
telegram_store/static/modeltranslation/**/*.less linguist-vendored
