{% extends "layout.html" %}
{% load static %}

{% block title %}{{ title|title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "telegram_store/css/confirm.css" %}">
{% endblock %}

{% block body %}
    <div class="container py-5 d-flex justify-content-center align-items-center">
        <div class="card px-4 py-3 shadow-lg" style="max-width: 500px; width: 100%;">
            <!-- Payment Status -->
            <div class="text-center">
                {% if payment_status == "Successful" %}
                    <p class="h5 py-3 text-success">Payment Successful</p>
                {% else %}
                    <p class="h5 py-3 text-danger">Payment Failed</p>
                {% endif %}
            </div>

            <!-- Back Button -->
            <div class="row gx-3">
                <div class="col-12">
                    <a href="{{ bot_link }}" class="btn btn-primary w-100" aria-label="Back to bot">
                        Back to Bot
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}
